@media (max-width:1024px){ 
    .nav-bar{
        display: none;
    }
    .bar-burger{
        display: block;
        color: rgb(0, 0, 0);
    }
    .background{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .nav-bar.navActiv{
        display: block;
    }
   
}
@media (max-width:1024px) {
    .section-1{
        width: 100%;
    }
    .section-2{
        width: 100%;
        
    }
    .title-1{
        width: 100%;
    }
    .div-data{
        width: 100%;
    }
    .left-block{
        width: 100%;
    }
    .right-block{
        width: 100%;
    }
}
/* contact */
@media (max-width:1024px) {
.map{
    /* margin: 0 auto; */
    width: 100%;
 }
 .input-element{
    /* margin: 0 auto; */
    width: 50%;
 }
}