@media (max-width:768px){ 
    .nav-bar{
        display: none;
    }
    .bar-burger{
        display: block;
        color: rgb(0, 0, 0);
    }
    .background{
        flex-direction: column;
    }
    .nav-ul{
        flex-direction: column;
        align-items: center;
    }
    .nav-bar.navActiv{
        display: block;
    }
   
}
@media (min-width: 320px) and (max-width: 1024px){
    .bacground{
        height: auto;
    }
}
@media (min-width: 320px) and (max-width: 1024px){
    .background-img{
        height: auto;
    }
}
@media (min-width: 320px) and (max-width:1024px){
    .section-1{
        height: auto;
    }
}
@media (min-width:320px) and (max-width:1024px){
    .section-2{
        height: auto;
    }
}